---
# tasks file for ajsalminen.mysql_sync

- name: Dump database structure on source.
  shell: >
    mysqldump {{ item.database }}
    --no-data
    > {{ mysql_sync_source_dump_dir }}/{{ item.database }}.sql
  delegate_to: "{{ item.source }}"
  remote_user: "{{ mysql_sync_remote_user }}"
  with_items: mysql_sync_config
  sudo: "{{ mysql_sync_source_sudo }}"
  always_run: yes
  when: mysql_sync_create_dump|default(true)

- name: Dump database on source.
  shell: >
    mysqldump {{ item.database }}
    {{ item.skip_tables|default('')|join(' --ignore-table ' ~ item.database ~ '.')|regex_replace('^(.)', ' --ignore-table ' ~ item.database ~ '.' ~ '\\1')}}
    >> {{ mysql_sync_source_dump_dir }}/{{ item.database }}.sql
  delegate_to: "{{ item.source }}"
  remote_user: "{{ mysql_sync_remote_user }}"
  with_items: mysql_sync_config
  sudo: "{{ mysql_sync_source_sudo }}"
  always_run: yes
  when: mysql_sync_create_dump|default(true)

- name: Copy dump to control machine.
  command: >
    rsync --delay-updates --compress --archive
    --out-format='{{changed_marker}}%i %n%L'
    {{hostvars[item.source].ansible_ssh_user|default(ansible_ssh_user)}}@{{item.source}}:{{ mysql_sync_source_dump_dir }}/{{ item.database }}.sql
    {{ mysql_sync_dump_dir }}/{{ item.database }}.sql
  delegate_to: localhost
  with_items: mysql_sync_config
  always_run: yes
  sudo: no

- name: Copy dump to target machine.
  synchronize:
    mode: push
    src: "{{ mysql_sync_dump_dir }}/{{ item.database }}.sql"
    dest: "{{ mysql_sync_dump_dir }}/{{ item.database }}.sql"
  with_items: mysql_sync_config


- name: Drop database on target.
  mysql_db:
    name: "{{ item.0.target_database|default(item.0.database) }}"
    state: "{{ item.1 }}"
  with_nested:
    - mysql_sync_config
    - [ absent, present ]

- name: Import database on target.
  mysql_db:
    name: "{{ item.target_database|default(item.database) }}"
    state: import
    target: "{{ mysql_sync_dump_dir }}/{{ item.database }}.sql"
  with_items: mysql_sync_config
